:root{
    --navbar: #116a7b;
    --button: #CDC2AE;
    --main : #F3CB43;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/*Ini css untuk login dan register*/
.container{
    height: 100vh;
    width: 50vh;
    margin: auto;
}

.container .text h2{
    text-align: center;
    padding: 4em 0 3em 0;
}

.container form input{
        font-size: 20px;
        outline: 0;
        border-width: 0 0 2px;
        width: 100%;
        margin: 2rem 0;
        border-color: black;
}
.container form input:focus{
    border-color: grey ;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

 .container form button{
    width: 100%;
    height: 4em;
    border-radius: 23px;
    color: #ffffff;
    background-color:black;
    margin-bottom: 23px;
    cursor: pointer;
 }


 /*style beranda*/
 /*navbar*/
 .navbar{
    background-color: white;
    height: 4em;
    display: flex;
    align-items: center;
    box-shadow: 1px 0 3px 1px;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-between;
 }
 .navbar .menu {
    margin-left: 2rem;
    cursor: pointer;

 }
 .navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .navbar .logo img{
    width: 150px;
    height: 150px;
 }

.navbar .logout {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 23px;
    margin-right: 5rem;
    background-color: var(--main);
    box-shadow: 1px 1px 3px 1px;
}

.navbar .logout a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar .logout:hover{
    background-color:#fcdd77;
}


/*Ini SIdebar*/
.sidebar{
    margin-left: -15rem;
    width: 15rem;
    height: 100vh;
    background-color: var(--main);
    display: flex;
    position: fixed;
    transition: .3s;
    z-index: 1;
}
.active{
    margin-left: 0;
}
.sidebar ul{
    list-style-type: none;
    margin-left: 2rem;
    margin-top: 7rem;
}
.sidebar ul li{
    margin: 2rem 0;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content:center;
}
.sidebar ul li#data:hover{
    background-color: #967a1d;
}

.sidebar ul li#logo{
    border: none;
    font-weight: 700;
}

.sidebar ul li a{
    color: black;
    text-decoration: none;

}

/*stok*/
.stok{
    margin: 2rem 4rem;
}

.stok-head{
    width: 100%;
    padding-left: 3rem;
}
#myTable{
    margin-top: 5rem;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
    position: relative;
    left: 10px;
}

#myTable tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
#myTable tr td a{
    color: black;
}
 
#myTable, th, td {
    padding: 8px 50px;
    text-align: center;
}
 
 
#myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.on{
    margin-left: 16rem;
    transition: .3s;
}
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.hapus{
    display: flex;
    margin: 1rem;
}
.hapus button{
    padding: .6rem;
    background-color: #444;
}


/*Input*/
#input{
    justify-content: start;
}
#input .head{
    margin-left: 2rem;
}
#input .logo{
    width: 60%;
    display: flex;
    justify-content: center;
}
#input .kembali{
    padding: 16px;
    cursor: pointer;
}
#input .kembali:hover{
    background-color: rgba(0, 0, 0, 0.075);
}
#input .kembali a{
    color: black;
}


/*Form edit dan input*/
.content{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.content form table input{
    border-radius: 23px;
    padding: .5rem;
}
.content form .simpan{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.content form .simpan a{
    background-color: var(--main);
    padding: 1rem;
    border-radius: 23px;
    color: black;
    text-decoration: none;
}